*{
    margin:0;
}
body{
    background-image: url("../assets/images/dark-triangles.png")
}
header{
    width:100%
}
.name-block{
    background:#59AAA5;
    color:#fff;
    width:100%;
    text-align: center;
    padding-top:5%;
    padding-bottom: 5%;
}

nav{
    background:#fff;
    color:#ccc;
    text-align: center;
    margin-bottom:1.5rem;
}
ul{
    
    list-style: none;
    padding-top:5%;
    padding-bottom: 5%;
}
li{
    display:inline;
    padding-right:1rem;
    border-right: .1rem solid #ccc;

}
a{
    color:#777;
    text-decoration: none;
}
.main{
    background:#fff;
    border: 2px solid #ddd;
    width:85%;
    margin:1rem auto;
   
}

.section-title{
    display: block;
    color:#59AAA5;
    margin: 1rem auto;
    width:85%;
    border-bottom: .25em solid #ccc;
    }
h2{
    padding-bottom:1rem;
}

footer{
        background:#666;
        border-top:2px solid #59AAA5;
        color:#fff;
        padding-top: 1rem;
        margin-top:3rem;
        text-align: center;
    }
/* about styles */
.profile-img{
    display:block;
    width:85%; 
    margin: 0 auto;
  
}
.wrapper p{
    padding:4%;
    color:#777;
}